*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  background: none;
  border: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1508px;
  margin: 0 auto;
}

.page {
  width: 1058px;
  height: 792px;
  padding: 40px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-name {
  font-size: 24px;
  line-height: 1.16;
}