*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

.container {
  display: flex;
  padding: 80px 15px;
  width: 100%;
  max-width: 1478px;
  margin: 0 auto;

  @media (max-height: 800px) {
    padding: 40px 15px;
  }
}

