.about {
  background-color: #fafafa;
}

.sassIcon {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 25px;

  svg {
    @media (max-width: 1200px) {
      width: 70px;

      position: relative;
      left: -30px;
    }
  }
}

.reactIcon {
  position: absolute;
  right: 0;
  bottom: 0px;

  z-index: 0;
}
