.about {
  background-color: #fafafa;
}

.aboutContent {
  width: 65%;
  margin: 55px auto 0;
  position: relative;

  @media (max-width: 1325px) {
    width: 100%;
  }
}

.aboutContentRow {
  display: flex;
  justify-content: space-between;
}

.aboutContentRow:not(:last-child) {
  margin-bottom: 190px;

  @media (max-height: 900px) {
    margin-bottom: 140px;
  }

  @media (max-height: 845px) {
    margin-bottom: 100px;
  }
}

.aboutEducationInfo {
  display: flex;
  flex-direction: column;

  padding: 0 58px 0 35px;
  font-weight: 700;
  line-height: 1;
}

.aboutEducationItem {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  span {
    display: block;

    width: 1px;
    height: 159px;

    position: relative;
    right: 14px;

    background-color: #c4c4c4;
  }
}

.aboutEducationTime {
  margin-right: 29px;
  font-weight: 500;
  color: #a5a5a5;
  position: relative;
}

.aboutEducationText {
  min-height: 100px;
  max-height: 160px;
  padding-right: 15px;
  overflow-y: scroll;

  color: #4a4a4a;

  scrollbar-color: #01A39D transparent;
  scrollbar-width: 2px;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #01A39D;
  }
}
