.about {
  background-color: #fafafa;
}

.aboutContent {
  width: 65%;
  margin: 55px auto 0;
  position: relative;

  @media (max-width: 1325px) {
    width: 100%;
  }
}

.aboutContentRow {
  display: flex;
  justify-content: space-between;
}

.aboutContentRow:not(:last-child) {
  margin-bottom: 190px;

  @media (max-height: 900px) {
    margin-bottom: 140px;
  }

  @media (max-height: 845px) {
    margin-bottom: 100px;
  }
}