.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.pageName {
  margin-left: 53px;
  font-size: 24px;
  text-transform: uppercase;
}

.pageNameLine {
  display: block;
  width: 175px;
  height: 1px;

  position: relative;
  left: -50px;
  top: 7px;

  background-color: #fff;
}

.pageHeaderButton {
  padding: 0 30px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #01a39d;

  // &:hover {
  //   background-color: darken(#01a39d, 5%);
  //   transition: 0.3s linear;
  // }
}

.pageButtonIcon {
  margin-left: 10px;
}
