.home {
  position: relative;
  color: #fff;
  background: url(../../assets/img/home.jpg) center top no-repeat;
  background-size: cover;
}

.homeContent {
  min-width: 680px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);

  @media (max-width: 1345px) {
    min-width: 560px;
  }

  @media (max-width: 1150px) {
    min-width: 520px;
  }

  @media (max-width: 1110px) {
    min-width: 490px;
  }
}

.fragment {
  font-size: 24px;

  &:last-child {
    position: relative;
    top: -3px;

    @media (max-width: 1110px) {
      top: -6px;
    }
  }
}

.greeting {
  position: relative;
  top: 5px;
  left: 27px;

  @media (max-width: 1345px) {
    left: 20px;
  }
}

.greetingIcon {
  position: relative;
  top: 9px;
}

.name {
  margin-left: 27px;
  font-size: 64px;
  line-height: 1.04;

  @media (max-width: 1345px) {
    font-size: 52px;
  }

  @media (max-width: 1150px) {
    font-size: 48px;
  }

  @media (max-width: 1110px) {
    font-size: 44px;
  }
}

.name span {
  position: relative;
  top: -6px;
  color: #de8181;

  @media (max-width: 1110px) {
    top: -12px;
  }
}

.homeIcon {
  margin-left: 25px;
}
