.skillsItem {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progressRingCircle{
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.3s;
}
