.sidebar {
  display: flex;
  flex-direction: column;

  min-width: 325px;
  max-width: 400px;
  max-height: 792px;
  padding: 30px 43px;
  margin-right: 50px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.sidebarInformation {
  padding: 21px;
  margin: 15px 0 35px;
  background-color: #324a5e;
  border-radius: 10px;
  text-align: center;
}

.sidebarProf {
  margin-top: 10px;
  text-transform: uppercase;
}

.sidebarNav {
  margin-bottom: 158px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #324a5e;
}

.nav_item:not(:last-child) {
  margin-bottom: 25px;
}

.active {
  color: #01a39d;
}

.sidebarDate {
  text-align: center;
  color: #324a5e;
}
