.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25%;
  max-width: 550px;
  min-width: 330px;
  height: 100%;
  min-height: 730px;
  padding: 30px 43px;
  margin-right: 2%;

  position: relative;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 700;

  background-color: #FAFAFA;
  color: #fff;
}

.sidebarInformation {
  width: 100%;
  padding: 21px;
  margin: 15px 0 35px;
  background-color: #324a5e;
  border-radius: 10px;
  text-align: center;
}

.sidebarProf {
  margin-top: 10px;
  text-transform: uppercase;
}

.sidebarNav {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #324a5e;
}

.nav_item:not(:last-child) {
  margin-bottom: 25px;
}

.active {
  color: #01a39d;
}

.sidebarDate {
  position: absolute;
  bottom: 30px;
  text-align: center;
  color: #324a5e;
}
