.sidebar {
  display: flex;
  flex-direction: column;

  max-width: 400px;
  max-height: 792px;
  padding: 30px 43px;
  margin-right: 50px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.sidebar_avatar {
  margin: 0 auto;
}

.sidebar_name {
  padding: 21px;
  margin: 15px 0 35px;
  background-color: #324A5E;
  border-radius: 10px;
  text-align: center;
}

.sidebar_prof {
  margin-top: 10px;
  text-transform: uppercase;
}

.sidebar_nav {
  margin-bottom: 158px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #324A5E;
}

.nav_item:not(:last-child) {
  margin-bottom: 25px;
}

.active {
  color: #01A39D;
}

.sidebar_date {
  text-align: center;
  color: #324A5E;
}