.page {
  width: 1058px;
  height: 792px;
  padding: 40px;

  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
}

.page_btn {
  padding: 12px 15px;
  position: absolute;
  bottom: 40px;

  background-color: #6202EE;
  border-radius: 10px;

  font-size: 16px;
  text-transform: uppercase;
}

.page_btn img {
  margin-left: 7px;
}