.page {
  width: 73%;
  max-width: 1440px;
  min-width: 605px;
  padding: 40px;
  min-height: 730px;
  overflow: hidden;

  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;

}

.pageBtn {
  display: flex;
  align-items: center;

  padding: 12px 17px;

  position: absolute;
  bottom: 40px;

  background-color: #6202ee;
  color: #fff;
  transition: 0.3s ease;

  &:hover {
    background-color: darken(#6202ee, 5%);
  }
}

.pageBtnIcon {
  margin-left: 7px;
}
